<center><font size="3" face="Comic sans MS">
<h1>Hello World</h1>
<p>Corentin DIEVAL</p>
<p>
  Le 27/02/2018
</p>
<h1>Student List</h1>
<%= link_to "Student", students_path %>

<h1>
  Towns !!
</h1>
<%= link_to "Towns", towns_path %>

<h1>DangerKids - Things Could Be Different</h1>
<p><br>
  I’ve been waiting for things to change,<br>
Waiting for someone to take me home.<br>
Could that be you? It could be anyone I suppose.<br>
Things could be different if no one knows.<br>
<br>
What hangs in the balance can hang from the noose,<br>
Well I’m back from the dead like a sorry excuse.<br>
The world is weak and I’m here to take what’s mine.<br>
Now’s the time.<br>
Well it’s us versus them so which side do you choose?<br>
And fuck what you heard cause it’s probably true.<br>
If you live for an end, what’s dead may never die.<br>
<br>
And to everyone who doubted, how you like me now?<br>
It goes…<br>
<br>
It’s not my fault you’ve got nothing to give,<br>
So just talk, talk, talk, motherfucker I’m over it.<br>
If you’re sick of all the lies, let me tell you the truth:<br>
Nobody wants to be you.<br>
<br>
I’m waking up and I’m beginning to see,<br>
They’ll burn down the buildings to find where you sleep.<br>
Their songs will play and every note is torture.<br>
<br>
Oh<br>
<br>
And every note is torture<br>
<br>
And to everyone who told me that I’m wasting my time,<br>
It goes...<br>
<br>
It’s not my fault you’ve got nothing to give,<br>
So just talk, talk, talk, motherfucker I’m over it.<br>
I’ve been down, I’ve got nothing to prove,<br>
Cause I’m better off dead than I was with you.<br>
So just mark my words, you’ll remember my name,<br>
And I’m gonna raise the bar, I hope you’re ready to hang.<br>
If you’re sick of all the lies, let me tell you the truth:<br>
Nobody wants to be you.<br>
<br>
I’ve been waiting for things to change,<br>
Waiting for someone to take me home.<br>
<br>
It’s not my fault you’ve got nothing to give,<br>
So just talk, talk, talk, motherfucker I’m over it.<br>
I’ve been down, I’ve got nothing to prove,<br>
Cause I’m better off dead than I was with you.<br>
So just mark my words, you’ll remember my name,<br>
And I’m gonna raise the bar, I hope you’re ready to hang.<br>
If you’re sick of all the lies, let me tell you the truth:<br>
Nobody wants to ever fucking be you.<br>
</center></p>
</font>