<h1>Hello World</h1>
<p>Corentin DIEVAL</p>
<p>
  Le 27/02/2018
</p>
<h1>Student List</h1>
<%= link_to "Student", students_path %>

<h1>
  Towns !!
</h1>
<%= link_to "Towns", towns_path %>

<h1>DangerKids - Things Could Be Different</h1>
<p>
  I’ve been waiting for things to change,
Waiting for someone to take me home.
Could that be you? It could be anyone I suppose.
Things could be different if no one knows.

What hangs in the balance can hang from the noose,
Well I’m back from the dead like a sorry excuse.
The world is weak and I’m here to take what’s mine.
Now’s the time.
Well it’s us versus them so which side do you choose?
And fuck what you heard cause it’s probably true.
If you live for an end, what’s dead may never die.

And to everyone who doubted, how you like me now?
It goes…

It’s not my fault you’ve got nothing to give,
So just talk, talk, talk, motherfucker I’m over it.
If you’re sick of all the lies, let me tell you the truth:
Nobody wants to be you.

I’m waking up and I’m beginning to see,
They’ll burn down the buildings to find where you sleep.
Their songs will play and every note is torture.

Oh

And every note is torture

And to everyone who told me that I’m wasting my time,
It goes...

It’s not my fault you’ve got nothing to give,
So just talk, talk, talk, motherfucker I’m over it.
I’ve been down, I’ve got nothing to prove,
Cause I’m better off dead than I was with you.
So just mark my words, you’ll remember my name,
And I’m gonna raise the bar, I hope you’re ready to hang.
If you’re sick of all the lies, let me tell you the truth:
Nobody wants to be you.

I’ve been waiting for things to change,
Waiting for someone to take me home.

It’s not my fault you’ve got nothing to give,
So just talk, talk, talk, motherfucker I’m over it.
I’ve been down, I’ve got nothing to prove,
Cause I’m better off dead than I was with you.
So just mark my words, you’ll remember my name,
And I’m gonna raise the bar, I hope you’re ready to hang.
If you’re sick of all the lies, let me tell you the truth:
Nobody wants to ever fucking be you.

</p>